.modal { /* indica le proprietà che assume la pagina dietro la modal window */
    display: none; /* indica le proprietà che assume la pagina dietro la modal window */
    position: fixed; /* blocca lo spazio dedicato alla finestra senza spostare altri elementi */
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%; /* estendono il comportamento all 100% delle dimensioni della finestra */
    height: 100%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.5); /* sfondo nero ma semi-trasparente */
}

.modal-header {
    position: relative;
    width: 50%;
    background-color: #EBF2FA;
    color: #05668D;
    margin: auto;
    padding: 20px;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
}

.modal-content { /* impostazioni relative al contenuto della finestra modale */
    position: relative; /* si offsetta in base alla posizione del div di classe .modal */
    background-color: white;
    padding: 20px;
    margin: auto;
    width: 50%;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

.close-btn {
    float: right;
    color: lightgray;
    font-size: 40px;
    font-weight: bold;
}

.close-btn:hover {
    color: darkgray;
}

@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}
@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}